In [1]:
import pandas as pd
df=pd.read_csv('Excel_bank-full.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
2,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
3,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
4,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no

## Feature Engineering techniques

In [20]:
df['y'].isnull().sum()

0

In [66]:
df['pdays'].value_counts()

-1      39015
 92       140
 182      126
 91       121
 181      100
        ...
 558        1
 526        1
 749        1
 717        1
 32         1
Name: pdays, Length: 552, dtype: int64

In [2]:
df['marital'].replace(to_replace=['married','single','divorced'],value=[0,1,2],inplace=True)

In [3]:
df['education'].replace(to_replace=['primary','secondary','tertiary','unknown'],value=[0,1,2,3],inplace=True)

In [4]:
df['default'].replace(to_replace=['yes','no'],value=[0,1],inplace=True)

In [5]:
df['housing'].replace(to_replace=['yes','no'],value=[0,1],inplace=True)

In [6]:
df['loan'].replace(to_replace=['yes','no'],value=[0,1],inplace=True)

In [7]:
df['contact'].replace(to_replace=['cellular','telephone','unknown'],value=[0,1,2],inplace=True)

In [8]:
df['month'].replace(to_replace=['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],value=[1,2,3,4,5,6,7,8,9,10,11,12],inplace=True)

In [9]:
df['poutcome'].replace(to_replace=['success','failure','unknown','other'],value=[0,1,2,3],inplace=True)

In [10]:
df['y'].replace(to_replace=['yes','no'],value=[0,1],inplace=True)

In [51]:
#df['y'].replace(to_replace=[0,1],value=['yes','no'],inplace=True)

In [11]:
df['job'].replace(to_replace=['management','blue-collar','technician','admin.','services','retired','student','self-employed','unemployed','entrepreneur','housemaid','unknown'],value=[1,2,3,4,5,6,7,8,9,10,11,12],inplace=True)

In [19]:
df['pdays'].replace(to_replace=[-1],value=[0],inplace=True)

## Feature Selection

In [12]:
import numpy as np

In [27]:
X=df[['age','job','marital','education','default','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']].values

In [28]:
y=df['y'].values

## Feature Scaling

In [22]:
from sklearn import preprocessing
X=preprocessing.StandardScaler().fit(X).transform(X)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  int64
 2   marital    45211 non-null  int64
 3   education  45211 non-null  int64
 4   default    45211 non-null  int64
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  int64
 7   loan       45211 non-null  int64
 8   contact    45211 non-null  int64
 9   day        45211 non-null  int64
 10  month      45211 non-null  int64
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  int64
 16  y          45211 non-null  int64
dtypes: int64(17)
memory usage: 5.9 MB

### Chi-square test

In [29]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [33]:
bestfeatures=SelectKBest(score_func=chi2,k=10)
fiit=bestfeatures.fit(X,y)

In [34]:
dfscores=pd.DataFrame(fiit.scores_)
dfcolumns=pd.DataFrame(df.columns)
featureScores=pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns=['Specs','Score']
featureScores

        Specs          Score
0         age    7744.460288
1         job    9594.759096
2     marital    3839.696357
3   education     297.651055
4     default       0.011553
5     balance    9439.709986
6     housing       3.452430
7        loan    4677.736816
8     contact   24437.716903
9         day     871.729491
10      month  345887.963055
11   duration     732.336539
12   campaign  541498.653305
13      pdays   13995.117255
14   previous     555.013945
15   poutcome            NaN
16          y            NaN

In [ ]:
#campaign, month, pdays, contact, job, age, loan, marital

### Pearson Coefficient

In [35]:
from scipy import stats

In [36]:
Pearson_coef1,p_value1=stats.pearsonr(df['age'],df['y'])
Pearson_coef1,p_value1

(0.28371551882303575, 0.0)

In [37]:
Pearson_coef2,p_value2=stats.pearsonr(df['job'],df['y'])
Pearson_coef2,p_value2

(-0.32460102816896896, 0.0)

In [38]:
Pearson_coef3,p_value3=stats.pearsonr(df['marital'],df['y'])
Pearson_coef3,p_value3

(-0.265285560809068, 0.0)

In [39]:
Pearson_coef4,p_value4=stats.pearsonr(df['education'],df['y'])
Pearson_coef4,p_value4

(0.20381737079548817, 0.0)

In [40]:
Pearson_coef5,p_value5=stats.pearsonr(df['default'],df['y'])
Pearson_coef5,p_value5

(0.011267465092962082, 0.016584262849196268)

In [41]:
Pearson_coef6,p_value6=stats.pearsonr(df['balance'],df['y'])
Pearson_coef6,p_value6

(0.0069457906411478825, 0.1397153138613514)

In [42]:
Pearson_coef1,p_value1=stats.pearsonr(df['housing'],df['y'])
Pearson_coef1,p_value1

(-0.4885466976203543, 0.0)

In [43]:
Pearson_coef1,p_value1=stats.pearsonr(df['loan'],df['y'])
Pearson_coef1,p_value1

(0.048964487888245756, 2.069130067517622e-25)

In [44]:
Pearson_coef1,p_value1=stats.pearsonr(df['contact'],df['y'])
Pearson_coef1,p_value1

(0.43639904617845726, 0.0)

In [45]:
Pearson_coef1,p_value1=stats.pearsonr(df['day'],df['y'])
Pearson_coef1,p_value1

(-0.3545957563138583, 0.0)

In [46]:
Pearson_coef1,p_value1=stats.pearsonr(df['month'],df['y'])
Pearson_coef1,p_value1

(-0.2549497957193595, 0.0)

In [47]:
Pearson_coef1,p_value1=stats.pearsonr(df['duration'],df['y'])
Pearson_coef1,p_value1

(-0.33445393759299097, 0.0)

In [48]:
Pearson_coef1,p_value1=stats.pearsonr(df['campaign'],df['y'])
Pearson_coef1,p_value1

(-0.14599042125483397, 8.236511318972694e-214)

In [49]:
Pearson_coef1,p_value1=stats.pearsonr(df['pdays'],df['y'])
Pearson_coef1,p_value1

(-0.21044001821704372, 0.0)

In [50]:
Pearson_coef1,p_value1=stats.pearsonr(df['previous'],df['y'])
Pearson_coef1,p_value1

(-0.2202368363914794, 0.0)

In [51]:
Pearson_coef1,p_value1=stats.pearsonr(df['poutcome'],df['y'])
Pearson_coef1,p_value1

(0.32502909535130187, 0.0)

In [ ]:
#job marital housing contact day month duration campaign poutcome

In [53]:
X1=df[['age','job','marital','housing','loan','contact','day','month','duration','campaign','pdays','poutcome']].values

In [54]:
from sklearn import preprocessing
X1=preprocessing.StandardScaler().fit(X1).transform(X1)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

## Train Test Split

In [55]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X1,y,test_size=0.3,random_state=4)

## Algorithms

### SVM

In [56]:
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)